<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gainwell.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BB5D8708FE3727BDEE56F230E8D138F6E74AA9D8</string>
				<key>dateExpires</key>
				<string>15/02/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB5D8708FE3727BDEE56F230E8D138F6E74AA9D8</string>
						<key>dateExpires</key>
						<string>15/02/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ACA9U3AQ43</string>
						<key>name</key>
						<string>Gainwell Commosales Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ACA9U3AQ43.org.gainwell.incrpt</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ACA9U3AQ43</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>gainwell.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>05a481f1-0438-4389-a331-24046d0b7172</string>
				<key>dateExpires</key>
				<string>15/02/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.gainwell.incrpt</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ACA9U3AQ43</string>
				<key>name</key>
				<string>Gainwell Commosales Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
